body {
    background-color: black;
    color: rgb(121, 3, 115);
    margin: 1%;
    padding: 1%;
    background-image: url("./images/background.jpg");
    text-align: center;
}

.result {
    background-color: white;
}